{% extends 'base.html' %}

{% block content %}
    <h1 class='head font-weight-light'>{{data}}</h1>
    <h2 class='head font-weight-light text-center'>Dashboard</h2>
    <div class="row">
        <div class="col">
            <div class="card bg-light text-dark">
                    <div class="card-header">Birthday Reminder
                    </div>
                    <div class= "card-body scrollspy">
                        <table class="table table-sm table-dark">
                            <thead>
                                <tr>
                                <th scope="col">Day</th>
                                <th scope="col">Name</th>
                                <th scope="col">Course</th>
                                <th scope="col">Contact</th>
                                <th scope="col">DOB</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if tobday %}
                                    {% for t in tobday %}
                                    <tr class="bg-danger">
                                     <td>Today</td>
                                    <td>{{t.name}}</td>
                                    <td>{{t.course}}</td>
                                    <td>{{t.contact}}</td>
                                    <td>{{t.dob}}</td>
                                    </tr>
                                    {% endfor %}
                                {% endif %}
                                {% if tmrbday %}
                                    {% for m in tmrbday %}
                                    <tr class="bg-info">
                                    <td>Tomorrow</td>
                                    <td>{{m.name}}</td>
                                    <td>{{m.course}}</td>
                                    <td>{{m.contact}}</td>
                                    <td>{{m.dob}}</td>
                                    </tr>
                                    {% endfor %}
                                {% endif %}
                                
                               
                                
                            </tbody>
                        </table>
                    </div>
                
            </div>
        </div>
        <div class="col">
            <div class="card bg-secondary text-light">
                <div class="card-header">Classes Dashboard
                </div>
                <div class= "card-body scrollspy">
                    {% for x in count %}
                    <button type="button disbaled" class="btn btn-primary mb-4">
                     {{x.class_name}} <span class="badge badge-light">{{x.the_count}}</span>
                    </button>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-info">
                <div class="card-header">Fees Reminder
                </div>
                <div class= "card-body">

                </div>
            </div>
        </div>
    </div>
    
    {% comment %} <form action="{% url "genius:home" %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form1.as_p }}
    {{ form2.as_p }}
    <button type="submit" value="Upload">Submit</button>
</form> {% endcomment %}
    
{% endblock content %}